---
layout: default
cards:
 - heading: Small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam facere nihil dolorum sint saepe? 
   featured_image: /images/sleep-co-white.jpg
 - heading: Small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam facere nihil dolorum sint saepe? 
   featured_image: /images/sleep-co-lamp.jpg
 - heading: Small heading
   description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam facere nihil dolorum sint saepe? 
   featured_image: /images/sleep-co-yellow.jpg
---

        <!------------------- Header banner---------------------->
        <header class="grid text-center tall-100 md-tall-80">
            {% include header-nav.html %}
            
            <div class="col-12"> 
                <h3 class="font-weight-bold editable">
                    <span class="featured-text">addictively</span> soft
                </h3>
                <h1 class="font-weight-light editable">
                    you won't want to get out of bed 
                </h1>
            </div>
        </header>
       <!--------------------- Text grid------------------------------>
        <section class="padded grid bg-featured"> 
            <div class="padded-sm col-12 text-center">
                <h2> <span class="white-text">Features </span>you will love</h2>
            </div>
            <div class=" padded-sm col-3_sm-6 xs-stack editable">
                <h3>little heading</h3>
                <p>dolor sit amet consectetur adipisicing elit. Cupiditate nobis architecto blanditiis asperiores quasi. Ad explicabo cum odio labore repellat quisquam, laborum blanditiis incidunt inventore quasi, officia obcaecati rem dicta?</p>
            </div>
            <div class=" padded-sm col-3_sm-6 xs-stack editable">
                <h3>little heading</h3>
                <p>dolor sit, amet consectetur adipisicing elit. Eius, delectus incidunt praesentium esse, quaerat laborum perferendis, architecto nulla ipsam est ratione non deserunt corporis nostrum. Officiis mollitia perferendis quasi voluptas!</p>
            </div>
            <div class=" padded-sm col-3_sm-6 xs-stack editable">
                <h3>little heading</h3>
                <p> dolor sit amet consectetur adipisicing elit. Quo, nobis dignissimos! Nam enim praesentium hic labore! Illo deserunt cupiditate explicabo odit repellendus reiciendis delectus expedita architecto, debitis quae nemo recusandae?</p>
            </div>
            <div class=" padded-sm col-3_sm-6 xs-stack editable">
                <h3>little heading</h3>
                <p>dolor sit amet consectetur adipisicing elit. Rem ab adipisci modi maiores animi quod minus, non vero nemo blanditiis consectetur quis explicabo sint necessitatibus ipsa beatae illum libero inventore?</p>
            </div>

        </section>

        <!------------------- Cards ---------------------->
    
        <section class="grid padded">
            {% for item in page.cards %}

            <div class="col-4_sm-12 padded-1">
                <div class="card">
                    <div class="bg-image portrait" style="background-image: url('{{item.featured_image}}')"></div>
                    <div class="padded-1">
                        <h3>{{item.heading}}</h3>
                        <p>{{item.description}}</p>
                    </div>

                </div>
            </div>
           {% endfor %}
         
        </section>
       