* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Temp styles for structural html */




/* Image styles */
.bg-image {
  background-image: url("/images/sleep-co-white.jpg");
  background-size: cover;
  min-height: 14rem;
}
.landscape {padding-bottom: 65%;}
.portrait {padding-bottom:125%; }
.square {padding-bottom:100%; }

/* Universal styles and utility classes */
logo {
  font-size: 5rem;
}

body {
  font-family: 'Catamaran', sans-serif;
color: #192b37;}
/* html {border: none;} */


.left     {  text-align: left;     }
.right    {  text-align: right;    }
.centered {  text-align: center;   }

.padded   {  padding: 5%; }
.padded-05 {  padding: 0.5rem;}
.padded-1 {  padding: 1rem;  }
.padded-2 {  padding: 2rem;  }

.bg-dark {background-color:  #192b37;
 color: white; }

.bg-featured {
   background-color: #FFBE00;
 }


 
 .font-weight-light {font-weight: 200;}
 .font-weight-normal {font-weight: normal;}
 .font-weight-extra-bold {font-weight: 800;}


 /* ---Typography Styles ------ */
 h2, h3, h4, h5, h6 {
   margin-bottom: 1rem;
   line-height: 1.1;
 }

 .text-left   {text-align: left;}
 .text-center {text-align: center;}
 .text-right  {text-align: right;}
 .tall-50 {min-height: 50vh;}
 .tall-60{min-height: 60vh;}
 .tall-70{min-height: 70vh;}
 .tall-80 {min-height: 80vh;}
 .tall-90 {min-height: 90vh;}
 .tall-100 {min-height: 100vh;}
 .featured-text {color: #FFBE00;}
 .white-text {color: white;}
 .small-text { font-size: 1.5rem;}
 .medium-text { 
             font-size: 2rem;
              line-height: 1.1;
            }

.big-text    {font-size: 4.5rem;}
 
.subtitle {
          font-size: 1.2rem;
          color:rgb(120,120,125);
        }
.quote-icon {
  font-size: 6rem;
  display: inline-block;
  color: rgb(120,120,125);
  line-height: 1;
}
.header-banner {
  background-color: #FFBE00;
  padding: 2rem;
}

 h2{
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 1rem;
 }

 h3 { line-height: 1;}

 p{
   font-weight: 200;
   line-height: 1.5;
   margin-bottom: 1rem;
 }
 p:last-child {
   margin-bottom: 0;
 }

 a {
   color: inherit;
   text-decoration: none;
   border-bottom: 1px solid; 
 }

 a:hover {
   color:#FFBE00;
 }

/* ------Header styles--------- */
header {
  background-image: url(/images/sleep-co-white.jpg);
  background-size: cover;
  background-position: center;
}
header h3 {
  font-size: 5.5rem;
  line-height: 1;
}



nav a {
  border: none;
  /* padding: 2rem; */
  text-align: center;
  display: inline-block;

}
nav a:hover {
  color: white;
}

footer a {
  border: none;
}



/* -------Background Images----- */

.bg-bed {background-image: url("/images/sleep-co-lamp.jpg");}
.bg-pug {
  background-image: url("/images/sleep-co-pug.jpg");
  background-position: 50% 35%;}
.bg-yellow{
  background-image: url("/images/sleep-co-yellow.jpg");
  background-position: 50% 57%;
}
.bg-white {
  background-image: url("/images/sleep-co-white.jpg");
}

  /* ------Icon grid-----------  */


  .fas{
      display: block;
      text-align: center;
      margin-bottom: 2rem;
      font-size: 3rem;

  }
 
    
  
  

  
  .gallery div[class*="col-4"]{
   
    background-image: url("https://source.unsplash.com/HD7QBx2Yfa4");
    background-size: cover;
    background-position: bottom;
    min-height: 30vh;
    padding: 5%;
    border: 2px solid white;
  }
  
  .gallery div[class*="col-6"]{
    
    background-image: url("https://source.unsplash.com/Uh-Qv2P9-sg");
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    padding: 5%;
    border: 2px solid white;
  }

  .gallery div[class*="_xs-12"]{
    min-height:50vh;
  }
   