<footer class="padded grid-spaceBetween bg-dark">
    <div class="col-4-bottom">
            <h2>Let's <br/> <span class="featured-text">connect</span> </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia modi magni cum est molestias eligendi, illo repellendus numquam mollitia velit eum culpa. Dolor vel id neque facere eum quis ab!</p>
    </div>
    <div class="col-5-bottom">
            <p><strong>Call:</strong> <a href="tel:#"> 04555 5555</a> </p>
            <p><strong>Email:</strong> <a href="mailto:#">hello@thesleep.co</a> </p>
            <p><strong>Store:</strong>55 Main St. Chicago</p>
            <p><strong>Instagram</strong> <a href="https://www.instagram.com/thesleepco>">@thesleepco</a> </p>
    </div>

    <div class="col-8"id="fd-form-60f0102ae0b04144efeb6ab6"></div>
    <script>
          window.fd('form', {
            formId: '60f0102ae0b04144efeb6ab6',
            containerEl: '#fd-form-60f0102ae0b04144efeb6ab6'
          });
    </script>

</footer>